@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-custom-bounce {
    animation-name: custom-bounce;
    animation-duration: 8s; /* Adjust the duration as needed */
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; /* Loop the animation infinitely */
  }
  .custom-bounce:hover {
    animation-play-state: paused;
  }

  .custom-bounce-small:hover {
    animation-play-state: paused;
  }

  @keyframes custom-bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes custom-bounce-small {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  
  
  
  